<h1>Listing myadmins</h1>

<table>
  <tr>
  </tr>

<% @myadmins.each do |myadmin| %>
  <tr>
    <td><%= link_to 'Show', myadmin %></td>
    <td><%= link_to 'Edit', edit_myadmin_path(myadmin) %></td>
    <td><%= link_to 'Destroy', myadmin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New myadmin', new_myadmin_path %>