	<script language="javascript">
		function menu(num) {
			var t = document.all.submenu;
			var s = document.all.menu_title;

			if (t[num].style.display == "") {
				t[num].style.display = "none";
				s[num].style.fontWeight = "";
			} else {
				for(i=0; i < t.length; i++) {
					t[i].style.display = "none";
					s[i].style.fontWeight = "";
				}

				t[num].style.display = "";
				s[num].style.fontWeight = "bold";
			}
		}
	</script>
	

		<div id="feature_wrapper">
			<h2>FAQ 자주 묻는 질문</h2>
				<p1>	웹탑프린트샵을 이용하시면서, 자주 문의하시는 질문들을 모았습니다.<br> 
					상세한 상담을 원하시거나 부족한 답변이 있으시면, 고객지원팀으로 문의 주시기 바랍니다.<br>
					 웹탑프린트샵 고객지원팀: 02-3406-7000
				</p1>
			<TABLE id="board_1">
			    <TR>
			    	<TD class="table_d"><a href="#">  전체 </TD>
					<TD class="table_d"><a href="#"> 회원가입</TD>
					<TD class="table_d"><a href="#"> 템플릿관련</TD>
			    </TR>
		    </TABLE>

				  <div id="line_top"></div>
		          <% 	@i = 0
						@faqs.each do |faq| %>		               
	               <!-- 여기가 반복구간이에요 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::		 -->
				    <div id="menu_title">
						<a href="javascript:menu(<%= @i %>);"> <img src="images/board/help-icon.jpg">&nbsp;<%= faq.question %></a>
					</div>
					<Div id="submenu" style="DISPLAY:none">
						<%= faq.answer %>
					
					</Div>
					  <div id="line_under"></div>
				<!-- 여기가 반복구간이에요 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::		 -->
				<% @i+=1
				   end %>

				    
					  <div id="line_under"></div>
				
				
					<div id="line_bottom"></div>
		                  

		               
		</div>
		


