
/* ---------- Navigation ---------- */


#search_box {
	color: white;
/*	position: relative;*/
	float: right;
	padding-right: 10px;	
}

.field {
	font-size: 13px;
	background-color: #333333;
	border: solid 1px #717171;
	color: white;
	padding: 2px;
/*	margin-top: 2px;*/
	float: left;
}

.field_1 {
	font-size: 11px;
	background-color: white;
	border: solid 1px #717171;
	padding: 2px;
	float: left;
}

.field_2 {
	font-size: 11px;
	width:442px;
	background-color: white;
	border: solid 1px #717171;
	margin-left: 1px;
	padding: 2px;
	float: left;
}

.field_3 {
	font-size: 13px;
	width:621px;
	background-color: white;
	border: solid 1px #717171;
	padding: 2px;
	float: left;
}


a.search:hover {
	background-color: #4e4e4e;
}
.search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	float: left;
	height: 20px;
	padding: 2px 8px 0px 8px;
	margin-left: 7px;
	margin-top: 2px;
	color:white;
    text-decoration:none;
	background-color: #5d7a37;
}

a.send:hover {
	background-color: #4e4e4e;
}


a.search_1:hover {
	background-color: #4e4e4e;
}
.search_1 {
		font-family: Arial, Helvetica, sans-serif;
	/*	font-weight: bold;*/
		font-size: 11px;
		display: block;
		float: right;
		height: 16px;
		padding: 6px 8px 1px 8px;
		color:white;
	    text-decoration:none;
	/*	text-transform: uppercase;*/
		background-color: #5d7a37;
	}
	
	
a.search_2:hover {
	background-color: #4e4e4e;
}
.search_2 {
		font-family: Arial, Helvetica, sans-serif;
	/*	font-weight: bold;*/
		font-size: 11px;
		display: block;
		float: right;
		height: 16px;
		padding: 3px 8px 4px 8px;
		margin-left:-250px;
		margin-right: 252px;
		color:white;
	    text-decoration:none;
	/*	text-transform: uppercase;*/
		background-color: #5d7a37;
	}
	
a.search3:hover {
	background-color: #4e4e4e;
}
.search3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
	float: left;
	height: 20px;
	padding: 2px 8px 3px 9px;
	margin-left: 400px;
	color:white;
    text-decoration:none;
	background-color: #5d7a37;
}




.send {
	font-family: Arial, Helvetica, sans-serif;
/*	font-weight: bold;*/
	font-size: 11px;
	display: block;
	float: left;
	height: 20px;
	padding: 4px 8px 0px 8px;
	margin-left: 7px;
	color:white;
    text-decoration:none;
/*	text-transform: uppercase;*/
	background-color: #5d7a37;
}

#top_bar {
	background-color:#000000;
	height: 36px;
}
#nav_container {
	width: 940px;
	margin: 0 auto;
    z-index: 999999;
}
#nav {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;

/*	text-valign: middle;*/
	color: #9f9f9f;
	z-index: 999999;
	float: left;
	position: relative;	
	 margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:0.6em;
 
}

#nav a:link, #nav a:active, #nav a:visited{
    display:block;
    padding: 14px 25px;
    color:#a5a5a5;
    text-decoration:none;
	text-transform: uppercase;
}
#nav a:hover {
    color: white;
}
#nav .on{
	background: url(/images/index/hover.png) no-repeat center;
	_background:none; 															_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/index/hover.png', 	sizingMethod='crop');	
	height: 13px;
	z-index: 1;
	color:#fff !important;
	float: left;
	position: relative;

}



#nav li{
    float:left;
    position:relative;
}
#nav ul {
    position:absolute;
    top:2.9em;
    display:none;	
	z-index: 1;
}
#nav li ul a {
    width:8em;
    float:left;
	background-color: black;
	background-image: none !important;
}
#nav li ul a:hover {
	background-color: #292929;
}
#nav ul ul{
	top:auto;
}	
#nav li ul ul {
    left:11.3em;
    margin:0px 0 0 10px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}

/* ---------- Featured ---------- */

.featuretitle {
	font-size: 13px;
	padding: 3px 0 5px 0;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}

#feature_wrapper {
	width: 910px;

	line-height: 16px;
	color: white;

}

#feature_wrapper1 {
	width: 910px;
	padding-left: 680px;
	line-height: 16px;
}

#feature_wrapper2 {
	width: 910px;
	padding-left: 252px;
	margin-bottom:10px;
	line-height: 16px;
}

#feature_list {
	width: 750px;
	height: 272px;
	position: relative;
	background-color: #404040 ;
}
#feature_list ul {
	position: absolute;
	top: 0;
	list-style: none;	
	padding: 0;
	margin: 0;
}
#tabs {
	right: 0;
	z-index: 2;
	width: 303px;
}
#tabs li {
	font-size: 12px;
	font-family: Arial;
	height: 90px;
}
#tabs li a {
	color: #999999;
	text-decoration: none;	
	display: block;
	padding: 10px 20px 10px 35px;
	height: 90px;
	outline: none;
}
#tabs li a:hover {
	color: #fff;
}
#tabs li a.current {
	background: url(/images/index/feature-tab-current.png) top left no-repeat;
	_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/index/feature-tab-current.png', sizingMethod='crop');
	color: #393939 ;
}
#tabs li a.current:hover {
	text-decoration: none;
	cursor: default;
}
#output {
	left: 0;
	width: 633px;
	height: 252px;
	position: relative;
}
#output li {
	position: absolute;
	width: 651px;
	height: 272px;
}
.outputimg {

	border: #868686 solid 1px;
	border-right: none;
}


h7 {
	color: white;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}

p7 {
	font-size: 12px;
	line-height: 20px;
	margin: 5px 0px;
}

p7 a{
	font-size: 12px;
	line-height: 20px;
	color: white;
	text-decoration: none;
	}

.title_460px22 img {
	margin-left: 180;
	
}


.lastbox22 {
	margin-top: 15px;
	margin-right: 0px;
	height: 145;
}

.firstbox22 {
	width: 243px;
	height: 120;
	padding-top: 15px;
	margin-right: 0px;
}


.title_460px22 {
	background: url(../images/index/bar_bg1px.jpg) top left repeat-x ;
	height: 25px;
	padding: 10px 0px 0px 20px;
/*	border-top: #c8c8c8 solid 1px;
	border-left: #c8c8c8 solid 1px;
	border-right: #c8c8c8 solid 1px;*/
	
}

.title_460px22 {
	width: 350px;
}

.content460px22 {
	width: 328px;
	height: 52px;
	padding: 20px;
	background-color: #333333;
/*	overflow: hidden;*/
	border: #535353 solid 1px;
}
