<html>
<head>
<title>Web Top Print Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/main.css" media="screen" rel="stylesheet" type="text/css"/>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
   
	<script type="text/javascript" src="javascript/jquery.min.js"></script>
	<script type='text/javascript' src='javascript/jquery.featureList-1.0.0.js'></script>
	
	<script type="text/javascript">
		$(document).ready(function() {

			$.featureList(
				$("#tabs li a"),
				$("#output li"), {
					start_item	:	0
				}
			);
		});
	</script>
	
</head>
<body>

<div id="wrapper_bg">
	<div id="wrapper">
		<div id="logoimg">
			<img src="images/logo.jpg" alt="logo" />
		</div>
	
	<div id="login_search_section">
	
		<div id="login_section">
			로그인 &nbsp; l &nbsp; 회원가입 &nbsp; <!-- l &nbsp; 로그아웃  -->
		</div>
	
		<div id="search_box">
			<input class="field" type="text" value="" name="s"/>
			<a class="search" href="#">Search</a>
		</div>	
	</div>

	<div id="menu_section">
		<div id="top_bar">
			<div id="nav_container">
				<ul id="nav">
					<li><a class="on" href="#">home</a></li>
					<li><a href="about_w.html">about</a></li>
					<li><a href="template.html">template</a></li>
					<li><a href="board_notice.html">board</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
		
	<div id="content_section">
		<div id="feature_wrapper">

				<div id="feature_list">
					<ul id="tabs">
						<li>
							<a href="javascript:;">
								<span class="featuretitle">"웹탑 프린트샵 템플릿" 이용해보세요!</span>
								<span>1. 빠르고 간편하게 원하는 문구 편집!<br>
								2. 주문부터 배송까지 원스톱 서비스!<br>
								3. 가까운 거리의 문구 및 대리점에서 발송!<br></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span class="featuretitle">NOVA AVAILABLE NOW!</span>
								<span>Ddfdfdf</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<span class="featuretitle">EXEMPLE OF A TITLE</span>
								<span>E</span>
							</a>
						</li>
					</ul>
					<ul id="output">
						<li>
							<a href="#"><img class="outputimg" src="images/sample1.jpg" alt="outputimg" /></a>
						</li>
						<li>
							<a href="#"><img class="outputimg" src="images/sample2.jpg" alt="outputimg" /></a>
						</li>
						<li>
							<a href="#"><img class="outputimg" src="images/sample3.jpg" alt="outputimg" /></a>
						</li>
					</ul>
				</div>

		</div>
		<br>
		<img src="images/slide.jpg" alt="ad" />
	</div>
	
	<div id="mainNav_section">
	<h1>	명함 </h1>
		<p>	&nbsp;&nbsp;-&nbsp;비즈니스 <br> 
			&nbsp;&nbsp;-&nbsp;공공기관 <br> 
			&nbsp;&nbsp;-&nbsp;의료 <br> 
			&nbsp;&nbsp;-&nbsp;종교 <br> 
		</p>
	
		<h1>현수막 </h1>
		<p>	&nbsp;&nbsp;-&nbsp;비즈니스 <br> 
			&nbsp;&nbsp;-&nbsp;공공기관 <br> 
			&nbsp;&nbsp;-&nbsp;의료 <br> 
			&nbsp;&nbsp;-&nbsp;종교 <br> 
		</p>
	
		<h1>봉투 </h1>
		<p>	&nbsp;&nbsp;-&nbsp;비즈니스 <br> 
			&nbsp;&nbsp;-&nbsp;공공기관 <br> 
			&nbsp;&nbsp;-&nbsp;의료 <br> 
			&nbsp;&nbsp;-&nbsp;종교 <br> 
		</p>
	</div>
		
	<div id="footer_section">
		copyright sungdoGL footer section ============
	</div>
</div>
</div>	
</body>
</html>

