<div id="feature_wrapper">
	<h2>고객 1:1 문의</h2>
		<p1>	궁금하신 점을 문의해 주시면 이메일로 친절하게 답변해드리겠습니다.<br> </p1>
			
	<br>
</div>
	
<div id="table_wrapper">
	<table class="table1">
	<tr>
		<td class="table_c" valign=top>
		<div id="contact_contents">
			이름<br>
			이메일<br>
			연락처<br>
			문의제목<br>
			문의내용<br>
		</div>
		</td>

		<td class="table_c" valign=top>
		<div id="contact_typing">
			<input class="field_1" type="text" value="" name="name"/><br>
			<input class="field_1" type="text" value="" name="email"/> @ 
				<select>
					<option value="0" > 선택</option>
					<option value="1" > gmail.com </option>
					<option value="2" > hotmail.com </option>
					<option value="3" > yahoo.com </option>
					<option value="4" > naver.com </option>
					<option value="5" > hanmail.net </option>
	        	</select>
				<br>

				<select>
					<option value="0" > 010 </option>
					<option value="1" > 011 </option>
					<option value="2" > 016 </option>
					<option value="3" > 017 </option>
					<option value="4" > 018 </option>
					<option value="5" > 019 </option>
	          </select>

			<input type="text" name="phone" id="phone" /> - <input type="text" name="phone" id="phone" /><br>
			<input class="field_2" type="text" value="" name="title"/>
			<textarea name="comments" id="comments" rows="12" cols="60"></textarea><br><br>
			<a class="search3" href="#">Send</a><br>
		</div>

		</td>
	</tr>
	</table>
		
	</div>

</div>