
	<h5>
	<a <%="class=\"on\"" if @board=="notice" %>href="/notices">공지사항</a>
	</h5>
	<h5>
	<a <%="class=\"on\"" if @board=="faq" %>href="/faqs">FAQ</a><br>
	</h5>
	<h5>
	<a <%="class=\"on\"" if @board=="freeboard" %>href="/freeboards">자유게시판</a><br>
	</h5>
