<ul id="nav">
	<li><a <%= "Class=\"on\"" if @section == "index" %> href="/admin/users">사용자 리스트</a></li>
	<li><a <%= "Class=\"on\"" if @menu == "new" %> href="/admin/mytemplates">개인 템플릿</a></li>	
</ul>
