<div id="wrapper_bg">
	<div id="wrapper">
		<%= render :partial => "/shared/logo" %>	
	<div id="login_search_section">
		<%= render :partial => "/shared/login" %>	
	</div>

		<!-- 메뉴 =================================================================================-->
		<div id="menu_section">
			<%= render :partial => "/shared/menu", :object => @menu%>
		</div>
		<!-- 메뉴 =================================================================================-->
	
		<!-- 본문영역 =================================================================================-->
		<div id="content_section">
			<div id="feature_wrapper">
				<h2>회원탈퇴완료 </h2>
				<img src="/images/mypage/withdraw_complate.jpg">
			</div>
		</div>
		<!-- 본문영역 =================================================================================-->
			
			
		<!-- 사이드바  ==============================================================================-->
		<div id="mainNav_section">
				<h3>회원탈퇴</h3>
		</div>		
		<!-- 사이드바  ==============================================================================-->	
	
	<!-- 풋터  ==============================================================================-->		
	<div id="footer_section">
		<%= render :partial => "/shared/footer" %>
	</div>
	<!-- 풋터  ==============================================================================-->			
</div>
</div>	


