

<ul id="nav">
	<li><a <%= "Class=\"on\"" if @board == "notice" %> href="/admin/notices">공지사항</a></li>
	<li><a <%= "Class=\"on\"" if @board == "freeboard" %> href="/admin/freeboards">자유게시판</a></li>
	<li><a <%= "Class=\"on\"" if @board == "faq" %> href="/admin/faqs">FAQ</a></li>

</ul>
