#footer{:class => 'copyright'}  
  .block
    %p
           
      Copyright &copy; 2010
      %a{:href=>'http://sungdogl.co.kr'} Sungdo Soluwin - Graphic Arts Hub   
      
= yield(:footer)

/ %script{:type => "text/javascript",  :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"}      

