<html>
<head>
<title>Web Top Print Shop == Admin ==</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/admin.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/css/admin_main.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/css/admin_style.css" rel="stylesheet" type="text/css" />	
</head>
<body>
<%= yield %>
</body>
</html>

