<ul id="nav">
	<li><a <%= "Class=\"on\"" if @section == "index" or  @section == "show" %> href="/admin/temps">템플릿</a></li>
	<li><a <%= "Class=\"on\"" if @section == "new" %> href="/admin/temps/new">템플릿 업로드</a></li>	

</ul>
